KLAVI_APP_NAME=Controlar
KLAVI_ACCESS_KEY=121DEABF-DDD2-4ABB-8185-5348082FCA9D
KLAVI_SECRET_KEY=0ED8D6F1-9730-4D1F-BB39-1992186DEF6F
KLAVI_WEBHOOK_URL=https://schematically-oscitant-herbert.ngrok-free.dev/api/klavi/webhook

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=gustavodev25@gmail.com
SMTP_PASS=dabh ycqn wgky zyht
GEMINI_API_KEY=AIzaSyAiPdMFVZMP8uHlcU0tsAhbPqQx0EARsG4

ASAAS_API_KEY=$aact_prod_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OjYyZmQ0ODA3LTg5OTgtNGFjNS1iZWM4LTM3OWQ2ZTQ4M2U5NTo6JGFhY2hfNWVlOTllY2UtMzQzMy00MDdhLTk0NjMtMmQyOTFlY2ViNzEw
PLUGGY_CLIENT_ID=your_pluggy_client_id
PLUGGY_CLIENT_SECRET=your_pluggy_client_secret
PLUGGY_API_URL=https://api.pluggy.ai
