KLAVI_APP_NAME=Controlar
KLAVI_ACCESS_KEY=
KLAVI_SECRET_KEY=
KLAVI_WEBHOOK_URL=

SMTP_HOST=smtp.zoho.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

GEMINI_API_KEY=
ANTHROPIC_API_KEY=

ASAAS_API_KEY=
PLUGGY_CLIENT_ID=968a2edd-0aba-421e-b0a1-2c63985e40dd
PLUGGY_CLIENT_SECRET=ebfee72e-6203-4657-a8ad-4d6068fa977f
PLUGGY_API_URL=https://api.pluggy.ai

FIREBASE_SERVICE_ACCOUNT=
